<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Chi Siamo</h5>
        <p>
          Offriamo PNG di macchine che non sempre sono PNG e talvolta molto
          difficili da ridimensionare.
        </p>
      </div>
      <div class="col-md-6">
        <h5>Contatti</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt-fill"></i>Via Preferisco di no, mai</li>
          <li><i class="bi bi-telephone-fill"></i> +39 123 456 789</li>
        </ul>
      </div>
    </div>

    <hr class="bg-light" />

    <div class="text-center">
      <p class="mb-0">
        &copy; 2024 Epicode S.p.A. Tutti i diritti non riservati.
      </p>
    </div>
  </div>
</footer>
